@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&family=Space+Grotesk:wght@500&display=swap');

:root {
    --Blue: hsl(246, 80%, 60%);
    --Light-red-work: hsl(15, 100%, 70%);
    --Soft-blue-play: hsl(195, 74%, 62%);
    --Light-red-study: hsl(348, 100%, 68%);
    --Lime-green-exercise: hsl(145, 58%, 55%);
    --Violet-social: hsl(264, 64%, 52%);
    --soft-orange: vhsl(43, 84%, 65%);
    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
    --Yellow: rgb(241, 199, 91);

    /*font family*/
    --DM: 'DM Sans', sans-serif;
    --nunito: 'Nunito Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --font-rubik: 'Rubik', sans-serif;
}

body {
    background: var(--Very-dark-blue);
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

section {
    background: var(--Very-dark-blue);
    width: 46vw;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    border-radius: 10px;
    justify-content: center;
}

.card-profile {
    background: var(--Blue);
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 10px;
    height: 270px;
    width: 210px;
}

.logo-profile {
    scale: 0.3;
    border: 2;
    border: 10px solid;
    border-color: white;
    border-radius: 130px;
    margin-top: -68px;
    margin-left: -75px;
}

.img-profile {
    height: 130px;
}

.profile {
    font-family: var(--nunito);
    margin-left: 10px;
    color: white;
}

.profile-h1 {
    font-size: 14px;

    font-weight: 300;
    margin: 0;

}

.profile-h2 {
    font-size: 40px;
    font-weight: 300;
    margin: 0;

}

.nav-profile {
    background-color: var(--Dark-blue);
    height: 187px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.button {
    background: transparent;
    border: transparent;
    font-family: var(--poppins);
    font-weight: 300;
    color: white;
    margin-left: 15px;
    padding: 10px
}

.work {
    background-color: var(--Light-red-work);
    border-radius: 10px 10px 0 0;
    height: 2.5rem;
}

.img {
    overflow-clip-margin: content-box;
    overflow: clip;
    position: relative;
    left: 115px;
}

.description {
    display: grid;
    background-color: var(--Dark-blue);
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 10px;
    margin-top: -10px;
    position: relative;
    padding: 1rem;
    font-family: var(--DM);
    color: var(--Pale-Blue);
    height: 60px;
    z-index: 1;
    height: 150px;
}

.top-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.7rem;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: var(--nunito);
    font-size: 18px;
}

.ellipsis {
    width: 20px;
    height: 6px;
}

.bottom-part {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-direction: column;
    height: 50px;
    margin: 0.7rem;
}

h1, h3, h2, h4 {
    margin: 0;
    font-weight: 300;
    margin-right: 48px;
}

h2 {
    color: var(--pale-blue);
    display: block;
    font-size: 46px;
    margin-block-start: 0;
    margin-block-end: 14px;
    margin-inline-start: 17px;
    margin-inline-end: 5px;
    font-weight: bold;
    font-family: var(--DM);

}

.last-time {
    color: var(--desatured-blue);
    font-size: 12px;
    position: relative;
    left: 14px;
}

.play {
    background-color: var(--Soft-blue-play);
    border-radius: 10px 10px 0 0;
    height: 2.5rem;
}

.study {
    background-color: var(--Light-red-study);
    border-radius: 10px 10px 0 0;
    height: 2.5rem;
}

.exercise {
    background-color: var(--Lime-green-exercise);
    border-radius: 10px 10px 0 0;
    height: 2.5rem;
}

.social {
    background-color: var(--Violet-social);
    border-radius: 10px 10px 0 0;
    height: 2.5rem;
}

.self {
    background-color: var(--Yellow);
    border-radius: 10px 10px 0 0;
    height: 2.5rem;
}